@model ModelLibrary.TextDetails;
@{
	ViewData["Title"] = "Text details Page";
}

<legend>Text details</legend>
<div class="form-group">
	Status: @Html.TextBoxFor(model => model.Status)
	Rank: @Html.TextBoxFor(model => model.Rank)
</div>
